* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

button {
  border: none;
}

.container {
  margin: auto;
  width: 1140px;
}

#header {
  position: absolute;
  backdrop-filter: blur(20px);
  width: 100%;
}
#header .header {
  padding-bottom: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header__logo img {
  width: 90px;
  height: 90px;
  padding-top: 7px;
}
#header .header__logo__contact {
  margin-left: 20px;
}
#header .header__logo__contact a {
  color: black;
  display: block;
}
#header .header__logo__contact a:hover {
  color: #2d77b1;
}
#header .header nav {
  position: relative;
}
#header .header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header nav ul li {
  margin-left: 70px;
}
#header .header nav ul li a {
  position: relative;
  font-size: 16px;
  color: black;
  padding-bottom: 6px;
}
#header .header nav ul li a:hover {
  color: #003b46;
}
#header .header nav ul li a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  padding-top: -19px;
  width: 100%;
  height: 2px;
  background-color: #003b46;
  transition: transform 250ms;
}
#header .header nav ul li a:hover:after {
  transform: translateX(-50%) scaleX(1);
}

#slider1 {
  background: url("../img/bg.jpg") no-repeat center/cover;
  min-height: 100vh;
  padding-top: 150px;
}
#slider1 .slider1 {
  margin-right: 130px;
  margin-left: 130px;
}
#slider1 .slider1 .slick-arrow {
  position: absolute;
}
#slider1 .slider1 .slick-prev {
  position: absolute;
  font-size: 0;
  background: url("../img/ss1.png") no-repeat center/20px;
  width: 28px;
  height: 20px;
  border: none;
  left: -60px;
  top: 260px;
}
#slider1 .slider1 .slick-next {
  position: absolute;
  font-size: 0;
  background: url("../img/ss2.png") no-repeat center/20px;
  width: 28px;
  height: 20px;
  border: none;
  right: -60px;
  top: 260px;
}
#slider1 .slider1 .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 17px;
  padding-bottom: 15px;
}
#slider1 .slider1 .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
#slider1 .slider1 .slick-dots li button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background: #81c1c5;
}
#slider1 .slider1 .slick-dots .slick-active button {
  border: 2px solid rgba(255, 255, 255, 0.8);
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
  }
}
#about {
  padding-top: 60px;
  background: rgba(241, 234, 157, 0.7);
  padding-bottom: 60px;
}
#about .img .img1 .img_img1_1 {
  position: absolute;
  background: url("../img/page1-img1.jpg") no-repeat;
  left: 60px;
  top: 860px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  animation: pulsing 7s infinite;
}
#about .img .img1 .img_img1_2 {
  position: absolute;
  background: url("../img/page1-img2.jpg") no-repeat;
  left: 60px;
  top: 1010px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  animation: pulsing 7s infinite;
}
#about .img .img1 .img_img1_3 {
  position: absolute;
  background: url("../img/page1-img3.jpg") no-repeat;
  right: 60px;
  top: 1010px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  animation: pulsing 7s infinite;
}
#about .img .img1 .img_img1_4 {
  position: absolute;
  background: url("../img/page1-img4.jpg") no-repeat;
  right: 60px;
  top: 860px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  animation: pulsing 7s infinite;
}
#about .about_title {
  font-size: 36px;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}
#about .about_text {
  text-align: center;
  font-size: 24px;
  width: 1000px;
  padding-left: 100px;
}

#product {
  padding-top: 60px;
  padding-bottom: 60px;
}
#product h2 {
  font-size: 36px;
}
#product .product {
  position: relative;
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}
#product .product_cart_1 {
  width: 40%;
  height: 220px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/milk.jpg") no-repeat;
  background-size: cover;
  padding: 70px 50px;
  border-radius: 8px;
  margin: 10px;
}
#product .product_cart_1 a {
  color: white;
  font-size: 26px;
}
#product .product_cart_1 a:hover {
  color: #f1ea9d;
  transition: 0.4s;
}
#product .product_cart_2 {
  width: 40%;
  height: 220px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/meat.jpg") no-repeat;
  background-size: cover;
  padding: 70px 50px;
  border-radius: 8px;
  margin: 10px;
}
#product .product_cart_2 a {
  color: white;
  font-size: 26px;
}
#product .product_cart_2 a:hover {
  color: #f1ea9d;
  transition: 0.4s;
}
#product .product_cart_4 {
  width: 40%;
  height: 220px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/egg.jpg") no-repeat;
  background-size: cover;
  padding: 70px 50px;
  border-radius: 8px;
  margin: 10px;
}
#product .product_cart_4 a {
  color: white;
  font-size: 26px;
}
#product .product_cart_4 a:hover {
  color: #f1ea9d;
  transition: 0.4s;
}
#product .product_cart_5 {
  width: 40%;
  height: 220px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/veg.jpg") no-repeat;
  background-size: cover;
  padding: 70px 50px;
  border-radius: 8px;
  margin: 10px;
}
#product .product_cart_5 a {
  color: white;
  font-size: 26px;
}
#product .product_cart_5 a:hover {
  color: #f1ea9d;
  transition: 0.4s;
}

#milk h2, #meat h2, #vege h2, #oi h2 {
  padding-top: 30px;
  margin-bottom: 15px;
}
#milk .milk_product, #milk .meat_product, #meat .milk_product, #meat .meat_product, #vege .milk_product, #vege .meat_product, #oi .milk_product, #oi .meat_product {
  margin-bottom: 30px;
}
#milk .milk_product .image, #milk .meat_product .image, #meat .milk_product .image, #meat .meat_product .image, #vege .milk_product .image, #vege .meat_product .image, #oi .milk_product .image, #oi .meat_product .image {
  margin-bottom: 10px;
}
#milk .milk_product .image img, #milk .meat_product .image img, #meat .milk_product .image img, #meat .meat_product .image img, #vege .milk_product .image img, #vege .meat_product .image img, #oi .milk_product .image img, #oi .meat_product .image img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}
#milk .milk_product .info h3, #milk .meat_product .info h3, #meat .milk_product .info h3, #meat .meat_product .info h3, #vege .milk_product .info h3, #vege .meat_product .info h3, #oi .milk_product .info h3, #oi .meat_product .info h3 {
  font-size: 21px;
  margin-bottom: 0;
}
#milk .milk_product .rating, #milk .meat_product .rating, #meat .milk_product .rating, #meat .meat_product .rating, #vege .milk_product .rating, #vege .meat_product .rating, #oi .milk_product .rating, #oi .meat_product .rating {
  margin-bottom: 0;
  padding-left: 0;
}
#milk .milk_product .rating li, #milk .meat_product .rating li, #meat .milk_product .rating li, #meat .meat_product .rating li, #vege .milk_product .rating li, #vege .meat_product .rating li, #oi .milk_product .rating li, #oi .meat_product .rating li {
  display: inline-block;
  color: #ffc107;
}
#milk .milk_product .info-price, #milk .meat_product .info-price, #meat .milk_product .info-price, #meat .meat_product .info-price, #vege .milk_product .info-price, #vege .meat_product .info-price, #oi .milk_product .info-price, #oi .meat_product .info-price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
#milk .milk_product .info-price .price, #milk .meat_product .info-price .price, #meat .milk_product .info-price .price, #meat .meat_product .info-price .price, #vege .milk_product .info-price .price, #vege .meat_product .info-price .price, #oi .milk_product .info-price .price, #oi .meat_product .info-price .price {
  font-weight: 700;
  font-size: 18px;
}
#milk .milk_product .info-price button:hover, #milk .meat_product .info-price button:hover, #meat .milk_product .info-price button:hover, #meat .meat_product .info-price button:hover, #vege .milk_product .info-price button:hover, #vege .meat_product .info-price button:hover, #oi .milk_product .info-price button:hover, #oi .meat_product .info-price button:hover {
  background: rgba(203, 198, 53, 0.91);
  color: white;
}
#milk .milk_product .info-price .input-number, #milk .meat_product .info-price .input-number, #meat .milk_product .info-price .input-number, #meat .meat_product .info-price .input-number, #vege .milk_product .info-price .input-number, #vege .meat_product .info-price .input-number, #oi .milk_product .info-price .input-number, #oi .meat_product .info-price .input-number {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #f1ea9d;
  box-sizing: border-box;
  border-radius: 8px;
  color: #424348;
  font-size: 14px;
  text-align: center;
}
#milk .milk_product .info-price .input-number_in, #milk .meat_product .info-price .input-number_in, #meat .milk_product .info-price .input-number_in, #meat .meat_product .info-price .input-number_in, #vege .milk_product .info-price .input-number_in, #vege .meat_product .info-price .input-number_in, #oi .milk_product .info-price .input-number_in, #oi .meat_product .info-price .input-number_in {
  background: #f1ea9d;
  width: 32px;
  height: 32px;
  border: none;
  padding: 8px;
  text-align: center;
}
#milk .milk_product .add-to-cart, #milk .meat_product .add-to-cart, #meat .milk_product .add-to-cart, #meat .meat_product .add-to-cart, #vege .milk_product .add-to-cart, #vege .meat_product .add-to-cart, #oi .milk_product .add-to-cart, #oi .meat_product .add-to-cart {
  border: none;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1ea9d;
  border-radius: 10px;
}
#milk .milk_product .product__quantity, #milk .meat_product .product__quantity, #meat .milk_product .product__quantity, #meat .meat_product .product__quantity, #vege .milk_product .product__quantity, #vege .meat_product .product__quantity, #oi .milk_product .product__quantity, #oi .meat_product .product__quantity {
  width: 99px;
}

.line {
  width: 100%;
  border-bottom: 1px solid #f1ea9d;
  margin-top: 30px;
  background: #f1ea9d;
}

#footer {
  background: rgba(241, 234, 157, 0.7);
  margin-top: 123px;
}
#footer .footer {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
#footer .footer_block1, #footer .footer_block2, #footer .footer_block3 {
  margin-bottom: 15px;
}
#footer .footer_block1 a, #footer .footer_block2 a, #footer .footer_block3 a {
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 22px;
  color: #8F8F8F;
  margin-bottom: 12px;
}
#footer .footer_block1 a i, #footer .footer_block2 a i, #footer .footer_block3 a i {
  color: #1EC6A7;
  margin-right: 7px;
}
#footer .line {
  width: 100%;
  height: 0px;
  opacity: 0.2;
  border: 1px solid #8F8F8F;
  margin-bottom: 30px;
  margin-top: 32px;
}
#footer .cop {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #8F8F8F;
  opacity: 0.4;
  padding-bottom: 40px;
}

.smart-basket__min {
  position: absolute;
  color: black;
  width: 73px;
  height: 70px;
  margin-top: -70px;
  margin-left: -10px;
  background-color: rgba(240, 248, 255, 0);
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
